/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    /* Change favorite color to match images */
    /*Green dark 190 - Green 171 - Grren Blue 200*/
    --hue-color: 190;
  
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 64%, 22%);
    --first-color-second: hsl(var(--hue-color), 64%, 22%);
    --first-color-alt: hsl(var(--hue-color), 64%, 15%);
    --title-color: hsl(var(--hue-color), 64%, 18%);
    --text-color: hsl(var(--hue-color), 24%, 35%);
    --text-color-light: hsl(var(--hue-color), 8%, 60%);
    --input-color: hsl(var(--hue-color), 24%, 97%);
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --white-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --h4-font-size: .75rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== Hover overlay ==========*/
    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --h4-font-size: 1rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/

body.dark-theme {
    --first-color-second: hsl(var(--hue-color), 54%, 12%);
    --title-color: hsl(var(--hue-color), 24%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 29%, 12%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/

.nav__dark {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}
.change-theme, .change-theme-name {
    color: var(--text-color);
}
.change-theme {
    cursor: pointer;
    font-size: 1rem;
}
.change-theme-name {
    font-size: var(--small-font-size);
}

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img,
video {
    max-width: 100%;
    height: auto;
}
button,
input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
button {
    cursor: pointer;
}
input {
    outline: none;
}
.main {
    overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section {
    padding: 4.5rem 0 2.5rem;
}
.section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}
section.video h4 {
    font-size: var(--h3-font-size);
}
.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
.grid {
    display: grid;
    gap: 1.5rem;
}

/*=============== HEADER ===============*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    z-index: var(--z-fixed);
    background-color: rgba(255,255,255,.25);
}

/*=============== NAV ===============*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo, .nav__toggle {
    color: var(--white-color);
}
.nav__logo {
    font-weight: var(--font-semi-bold);
}
.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}
.nav__menu {
    position: relative;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
        padding: 3rem;
        transition: .4s;
    }
    .nav__logo img {
        width: 45px;
        height: 45px;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}
.nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}
.nav__link:hover {
    color: var(--text-color);
}
.nav__close {
    color: var(--title-color);
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* show menu */

.show-menu {
    right: 0;
}

/* Change background header */

.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}
  
.scroll-header .nav__logo,
.scroll-header .nav__toggle {
    color: var(--title-color);
}

/* Active link */

.active-link {
    position: relative;
    color: var(--title-color);
  }
  
  .active-link::before {
    content: '';
    position: absolute;
    background-color: var(--title-color);
    width: 100%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
  }

/*=============== HOME ===============*/

.home__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
}
.home__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}
.home__data {
    width: fit-content;
    border-radius: 5px;
}
.home__data-subtitle, 
.home__data-title, 
.home__social-link, 
.home__info {
    color: var(--white-color);
}
.home__data-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
    color: #292E34;
}
.home__data {
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}
.home__data-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__data h3 {
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
    width: fit-content;
    border-radius: 4px;
    color: #11414b;
}
.home__social-link {
    color: var(--text-color);
    transition: .3s;
    opacity: 1;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
}
.home__social-link:hover {
    color: #000000;
}
.home__info {
    background-color: var(--first-color);
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    column-gap: .5rem;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 228px;
}
.home__info-title {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}
.home__info-button {
    font-size: var(--smaller-font-size);
}
.home__info-overlay {
    overflow: var(--img-hidden);
}
.home__info-img {
    width: 145px;
    transition: var(--img-transition);
}
.home__info-img:hover {
    transform: var(--img-scale);
}

/*=============== BUTTONS ===============*/

.button {
    display: inline-block;
    background-color: #FCD469;
    color: #292E34;
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}
.button:hover {
    background-color: var(--first-color-alt);
    color: var(--white-color);
}
.button--flex {
    display: flex;
    align-items: center;
    column-gap: .25rem;
}
.button--link {
    background: none;
    padding: 0;
}
.button--link:hover {
    background: none;
}

/*=============== ABOUT ===============*/
.about_main .about__video video {
    border-radius: 5px;
}

.about__container {
    row-gap: 2.5rem;
    grid-template-columns: 1fr 4fr;
}
.about_main .about__container {
    column-gap: 2.5rem;
    grid-template-columns: ;
}
.about__description {
    margin-bottom: var(--mb-2);
}
.about__img {
    display: flex;
    column-gap: 2rem;
    align-items: flex-end;
    justify-content: center;
}
.about__img-overlay {
    overflow: var(--img-hidden);
}
.about__img-one {
    width: 100%;
    /*width: 130px;*/
    border-radius: 33px;
}
.about__img-two {
    width: 210px;
    border-radius: 26px;
}
.about__img-one, 
.about__img-two {
  transition: var(--img-transition);
}
.about__title {
    text-transform: none;
}

/*=============== DISCOVER ===============*/

section.discover {
    padding: 6.5rem 0 8.5rem 0;
}
section.discover h2 {
    text-transform: none;
}
.discover__card {
    position: relative;
    width: 300px;
    overflow: var(--img-hidden);
}
.discover__data {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    background-color: rgba(0,0,0,.25);
    padding: .75rem;
    border-radius: 3px;
}
.discover__data h2 {
    text-align: center;
}
.discover__title, 
.discover__description {
    color: var(--white-color);
}
.discover__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}
.discover__description {
    display: block;
    font-size: var(--smaller-font-size);
}
.discover__img {
    transition: var(--img-transition);
}
.swiper-button-prev {
    background: none;
    color: #FFF;

}
.swiper-button-next {
    background: none;
    color: #FFF;

}

/*=============== EXPERIENCE ===============*/

section.experience {
    background-color: #ec2d76;
    padding: 5.5rem 0 5.5rem;
}
section.experience h2 {
    color: #FFF;
    text-transform: none;
}
.experience__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
    justify-content: center;
}
.experience__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 1.5rem 2rem;
}
.experience__data {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
}
.experience__data img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.experience__number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}
.experience__description {
    font-size: var(--small-font-size);
    color: #FFF;
}

/*=============== VIDEO ===============*/

.video__container {
    padding-bottom: 1rem;
}
section.video h4 {
    font-size: var(--h3-font-size);
    text-transform: none;
}
.video__content {
    position: relative;
}
.video__button {
    position: absolute;
    right: 1rem;
    bottom: -1rem;
    padding: 1rem 1.5rem;
}
.video__button-icon {
    font-size: 1.2rem;
}

/*=============== PLACES ===============*/

.place__card, .place__img {
    height: 180px;
    width: 180px;
}
.place__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0;
}
.place__card {
    position: relative;
    background: var(--first-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: .5s;
}
.place__card:hover {
    transform: translateX(15px);
    background: #292E34;
}
.place__card:nth-child(1) {
    width: 210px;
    height: 210px;
    opacity: 1;
    animation: shining4 7s ease-in-out infinite;
}
@keyframes shining4{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(15px);
        opacity: .9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.place__card:nth-child(2) {
    width: 180px;
    height: 180px;
    background: #154049;
}
.place__card:nth-child(2):hover {
    transform: scale(1.2);
    background: #292E34;
}
.place__card:nth-child(3) {
    width: 240px;
    height: 240px;
    opacity: .9;
    animation: shining 7s ease-in-out infinite;
}
@keyframes shining{
    0% {
        transform: translateX(0);
        opacity: .9;
    }
    30% {
        transform: translateX(10px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: .9;
    }
}
.place__card:nth-child(3):hover {
    transform: translateX(-15px);
}
.place__card:nth-child(4) {
    width: 210px;
    height: 210px;
}
.place__card:nth-child(4):hover {
    transform: translateX(-15px);
}
.place__card:nth-child(5) {
    width: 190px;
    height: 190px;
    animation: shining2 7s ease-in-out infinite;
}
@keyframes shining2{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translatey(-10px);
        opacity: .9;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.place__card:nth-child(5):hover {
    transform: translateY(-15px);
}
.place__card:nth-child(6) {
    width: 250px;
    height: 250px;
    opacity: .8;
}
.place__card:nth-child(7) {
    width: 210px;
    height: 210px;
}
.place__card:nth-child(7):hover {
    transform: translateY(-15px);
}
.place__card:nth-child(8) {
    width: 220px;
    height: 220px;
    background: #0a3942;
    animation: shining3 7s ease-in-out infinite;
}
@keyframes shining3{
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-15px);
        opacity: .85;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.place__card:nth-child(8):hover {
    transform: translateX(-15px);
    background: #292E34;
}
.place__card h3 {
    color: var(--white-color);
    text-align: center;
}
/*=============== SUBSCRIBE ===============*/

.subscribe__bg {
    background-color: var(--first-color-second);
    padding: 2.5rem 0;
}
.subscribe__title, 
.subscribe__description {
    color: var(--white-color);
}
.subscribe__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.subscribe__form {
    background-color: var(--input-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
.subscribe__input {
    width: 70%;
    padding-right: .5rem;
    background-color: var(--input-color);
    color: var(--text-color);
}
.subscribe__input::placeholder {
    color: var(--text-color);
}

/*=============== SPONSORS ===============*/

.sponsor__container {
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    min-width: 402rem;
    animation: lefting infinite 80s linear;
}
@keyframes lefting {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(-183rem);
    }
}
.sponsor__img {
    height: 80px;
    width: auto;
}

/*=============== FOOTER ===============*/

.footer__container {
    row-gap: 5rem;
}
.footer__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
}
.footer__title, 
.footer__subtitle {
    font-size: var(--h3-font-size);
}
.footer__title {
    margin-bottom: var(--mb-0-5);
}
.footer__description {
    margin-bottom: var(--mb-2);
}

.footer__social {
    font-size: 1.85rem;
    color: var(--text-color);
    margin-right: var(--mb-1-25);
}
.footer__subtitle {
    margin-bottom: var(--mb-1);
}
.footer__item {
    margin-bottom: var(--mb-0-75);
}
.footer__link {
    color: var(--text-color);
}
.footer__link:hover {
    color: var(--title-color);
}
.footer__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}
.footer__copy, .footer__terms-link {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
.footer__terms-link:hover {
    color: var(--text-color);
}

/*========== SCROLL UP ==========*/

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup:hover {
    background-color: var(--first-color-alt);
    opacity: 1;
}
.scrollup__icon {
    color: var(--white-color);
    font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/

/* For small devices */

@media screen and (max-width: 340px) {

    .place__container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .experience__content {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .experience__overlay:nth-child(1) {
        width: 190px;
    }
    .experience__overlay:nth-child(2) {
        width: 80px;
    }
    .home__info {
        width: 190px;
        padding: 1rem;
    }
    .experience__img,
    .video__container {
        padding: 0;
    }
    .sponsor__container {
        column-gap: 3rem;
    }
}

/* For medium devices */

@media screen and (min-width: 568px) {

    .video__container {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    .place__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .subscribe__form {
        width: 470px;
        margin: 0 auto;
    }
    .experience__content {
        grid-template-columns: repeat(3, 1fr);
    }
    section.video h4 {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .sponsor__container {
        column-gap: 4.5rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link {
        color: #292E34;
        text-transform: initial;
    }
    .nav__link:hover {
        color: #000;
    }
    .nav__dark {
        position: initial;
    }
    .nav__menu {
        display: flex;
        column-gap: 1rem;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__toggle, .nav__close {
        display: none;
    }
    .change-theme-name {
        display: none;
    }
    .change-theme {
        color: #292E34;
    }
    .active-link::before {
        background-color: #292E34;
    }
    .scroll-header .nav__link {
        color: var(--text-color);
    }
    .scroll-header .active-link {
        color: var(--title-color);
    }
    .scroll-header .active-link::before {
        background-color: var(--title-color);
    }
    .scroll-header .change-theme {
        color: var(--text-color);
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .home__container {
        height: 100vh;
    }
    .home__social {
        flex-direction: row;
        align-self: flex-end;
        margin-bottom: 3rem;
        column-gap: 2.5rem;
    }
    .home__info {
        bottom: 3rem;
    }
    .about__container {
        grid-template-columns: 1fr 4fr;
        align-items: center;
    }
    .about__data, .about__title {
        text-align: initial;
    }
    .about__title {
        margin-bottom: var(--mb-1-5);
    }
    .about__description {
        margin-bottom: var(--mb-2);
    }
    .discover__container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    .discover__container,
    .place__container {
        padding-top: 2rem;
    }
    .place__container {
        grid-template-columns: repeat(4, 1fr);
    }
    section.video h4 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .subscribe__bg {
        background: none;
        padding: 0;
    }
    .subscribe__container {
        background-color: var(--first-color);
        padding: 3.5rem 0;
    }
    .subscribe__input {
        padding: 0 .5rem;
    }
    .sponsor__container {
        column-gap: 6rem;
    }
    .footer__rights {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* For large devices */

@media screen and (min-width: 1024px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .home__container {
      grid-template-rows: 2fr .5fr;
    }
    .home__info {
      width: 328px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }
    .home__info-title {
      font-size: var(--normal-font-size);
    }
    .home__info-img {
      width: 240px;
    }
    .about_main .about__container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .about_main .about__data {
        align-items: center;
        justify-content: center;
        order: 1;
    }
    .about__img-one {
        width: 100%;
      /*width: 160px;*/
    }
    .about__img-two {
      width: 290px;
    }
    .discover__card {
      width: 420px;
    }
    .discover__container {
      width: 960px;
    }
    .discover__data {
      left: 1.5rem;
      bottom: 2rem;
    }
    .discover__title {
      font-size: var(--h2-font-size);
    }
    .experience__container {
        flex-direction: row;
    }
    .experience__content {
      margin: var(--mb-1) 0;
      column-gap: 3.5rem;
      grid-template-columns: repeat(6, 1fr);
    }
    .experience__overlay:nth-child(1) {
      width: 463px;
      margin-right: 7rem;
    }
    .experience__overlay:nth-child(2) {
      width: 220px;
      top: 3rem;
    }
    .video__container {
      grid-template-columns: .7fr;
    }
    .video__description {
      padding: 0 2rem;
    }
    .place__card, .place__img {
      height: 243px;
    }
    .sponsor__container {
        column-gap: 7rem;
    }
    .footer__content {
      justify-items: center;
    }
  }

/* For extra-large devices */

@media screen and (min-width: 1200px) {
    .container {
      max-width: 1024px;
    }
    .experience__content {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* For tall screens on mobiles y desktop*/

@media screen and (min-height: 721px) {
    body {
      margin: 0;
    }
    .home__container, .home__img {
      height: 640px;
    }
}